{% extends "base.html" %}
{% block content %}
<h2 href="{{ url_for('update_server', server_id=server._id.__str__()) }}" data-serverid="{{ server._id.__str__() }}"
    class="server_link">
    {{ server.name }}
    {% if server.build_success %}
        <span class="label label-success">Success</span>
    {% else %}
        <span class="label label-important">Failure</span>
    {% endif %}
</h2>
<form method="POST">
    <p>
        <label for="form_name">Name</label>
        <input type="text" id="form_name" name="name" value="{{ server.name }}" />
    </p>
    <p>
        <label for="form_link">Link</label>
        <input type="text" id="form_link" name="link" value="{{ server.link }}" />
    </p>
    <p>
        <label for="form_trigger">Trigger URL</label>
        <input type="text" id="form_trigger" name="trigger_url" value="{{ server.trigger_url }}" />
    </p>
    <p>
        <label for="form_status">Status URL</label>
        <input type="text" id="form_status" name="status_url" value="{{ server.status_url }}" />
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>
{% endblock %}
