{% extends "base.html" %}
{% block head %}
    <script>
        $(function() {
            ServerList.reset({{ servers_json|safe }});
            var detail_view = new ServerDetailView({
                el: $('#content'),
            });
            var uptime_view = new UptimeGraphView();
        });
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="span8">
            <h2>Status Changes</h2>
            <div id="chart_div"> </div>
        </div>
        <div class="span4">
            <div id="server_detail">
            </div>
        </div>
    </div>
{% endblock %}
